<footer class="footer">
    <p>&copy; 2017 5CC
    <p><%= link_to '5CC Naver Blog', 'http://blog.naver.com/purplequartz'%></p>
    <P><%= image_tag 'footer.jpeg', class: "img-responsive", width: '400', height: '200'%></P>
</footer>