<footer class="footer">
    <p>&copy; 2017 5CC
    <p><%= link_to '5CC Naver Blog', 'http://blog.naver.com/purplequartz', class: 'btn btn-warning'%>
    <%= link_to '5CC FaceBook', 'https://m.facebook.com/5CyberClinic-437223939978560/?notif_t=page_admin&notif_id=1493215725731691', class: 'btn btn-warning'%>
    <%= link_to '5CC Instagram', 'http://instagram.com/nia_5cc', class: 'btn btn-warning'%></p>
    <P><%= image_tag 'footer.jpeg', class: "img-responsive", width: '400', height: '200'%></P>
</footer>